

            body{

                    background-color: rgb(211, 221, 238);
                    margin: 50px;
                    padding: 80px;
                    border: solid 40px rgb(54, 175, 169);
                    outline: 5px solid white;
                    text-align: justify;
                    font-size: 25px;


            }

            nav.menu-principal {
                background-color: #333; /* Fondo oscuro */
                color: white; /* Texto blanco */
                padding: 10px 0; /* Espacio arriba y abajo */
                text-align: center; /* Centrar el menú */
                }
                nav.menu-principal li {
                display: inline; /* Mostrar los elementos en línea horizontal */
                margin: 0 15px; /* Espacio entre los elementos */
                }
                nav.menu-principal a {
                color: white; /* Color del texto de los enlaces */
                text-decoration: none; /* Quitar el subrayado */
                font-weight: bold; /* Texto en negrita */
                }
                





            .encabezado {

                    background-color: rgba(7, 255, 119, 0.342);
                    text-shadow: 3px 5px 5px gray;
                    color: white;
                    justify-content: center;
                    text-align: center;

            }

            .encabezado1 {

background-color: rgba(61, 7, 255, 0.342);
text-shadow: 3px 5px 5px gray;
color: white;
justify-content: center;
text-align: center;

}


            .descripcion {

                    text-align: center;
                    border: 2px solid rgb(52, 141, 141);
                    background-color: #fff;
                    margin: 10px 100px;

            }

            h3 {

                 color: rgb(8, 43, 3);
                 background-color: white;
                 border: #3b9ea5;

            }

            .borde {

                display: inline block;
                background: #e3e6e9;
                border: 1px solid rgb(44, 107, 70);
                font-family: monospace;

            }

            table, td {

                border: 2px solid rgb(161, 12, 12); width: 500px; height: 50px;
                background-color: white;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;

            }

            th {

                background-color: rgb(18, 175, 149);
                color: white;
                text-align: center;

            }

            img {

                height: auto;
                margin: auto;
                display: block;

            }


    